%h1 JavaScript Examples

#server-loading.hide
  Waiting for Server response...

#server-response.hide
  Successfully retrieved server response

%input#server-trigger{type: 'button', value: 'Get Server Response'}
