%h1 JavaScript Examples

#server-response-wrapper.hidden-for-demo
  Successfully retrieved server response

  %pre#server-response

#server-loading.hidden-for-demo
  Waiting for Server response...

%input.btn.btn-default#server-trigger{type: 'button', value: 'Get Server Response'}
