%h1 JavaScript Examples

%pre#server-response.hidden-for-demo
  Successfully retrieved server response

#server-loading.hidden-for-demo
  Waiting for Server response...

%input.btn.btn-default#server-trigger{type: 'button', value: 'Get Server Response'}
